<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light pt-3">
    <div class="container"> <a class="navbar-brand text-primary" href="#">
        <i class="fa fa-anchor fa-2x fa-fw pull-left d-inline bg-light"></i>
        <b class=""> Code Pirate_Banking Information</b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar4">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar4">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="/"><b>Home</b></a> </li>
          <li class="nav-item"> <a class="nav-link" href="/trade"><b>Trading</b></a> </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i><b>Account </b></i></a>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
              <a class="dropdown-item" href="/pnl"><b>Pnl</b></a>
              <a class="dropdown-item" href="/blotter"><b>Blotter</b></a>
                <a class="dropdown-item" href="bank"><b><i>Banking</i></b></a>

              <a class="dropdown-item" href="#"><b>Log Out</b></a>
            </div>
          </li>
          <li class="nav-item"> <a class="nav-link" href="#"><b>FAQ</b></a> </li>
        </ul> <a class="btn navbar-btn ml-md-2 btn-light">Contact us</a>
      </div>
    </div>
  </nav>
  <div class="container">
  </div>
  <container>
      <table class="table table-bordered">
      <thead>
        <tr>
          <th>Method</th>
          <th> Bank Name </th><th>Card Number</th>
        </tr>
      </thead>
      <tbody>

        <tr>
            <td>Credit Card</td>
            <td>Bank of American</td>
            <td>****3540</td>
            <tr>
            <td>Credit Card</td>
            <td>American Express</td>
            <td>****2019</td>
        </tr>
        </tr>


      </tbody>
    </table>
  </container>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

</body>
</html>